
h3 {
  font-weight: bold;
}

#nav-bar {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav.navbar {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-form {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
}

.navbar {
  background-color: white;
 /* background:url('/images/footer_lodyas.png');*/
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000000;
}

.main-links {
    font-size: 25px;
    font-weight: bold;  
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: orange;
}

.footer-container p {
  text-align:left;
  padding:10px 0;
  margin-bottom:0px;
}

.footer-menu {
  list-style-type:none;
  float:right;
  margin-bottom:0px;
  padding:0 20px 0 20px;
}

.footer-menu li {
  float:left;
  line-height:40px;
}

.footer-menu li:not(:last-child):after {
  content:"|";
  margin-right:8px;
  margin-left:8px;
}

.footer-menu li a {
  font-size:14px;
}